<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="assets/1.png" width="100px" height="50px" alt="Logo">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <i class="fa-solid fa-bars fa-xl" style="color: #1d3e77;"></i>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Über uns
      </a>

      <a class="navbar-item">
        Standorte
      </a>
      </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button nav">
           <p class="sign">Registrieren</p>
          </a>
          <a class="button nav">
            <p class="sign">Einloggen</p>
          </a>
        </div>
      </div>
    </div>

  </div>

</nav>


