<div class="section">
  <div class="container is-fluid">
    <nav  class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <img src="assets/1.png" width="100px" height="50px" alt="Logo" class="logo" id="logo">
      <img src="assets/Gif%20ohne%20Titel%20(1).gif" width="100px" height="50px" alt="Logo" class="gif" id="gif">
      <a (click)="toggleBurger()" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <i  *ngIf="!burgerIsOpen" class="fa-solid fa-bars fa-xl" style="color: #1d3e77;"></i>
        <i  *ngIf="burgerIsOpen" class="fa-solid fa-xmark fa-xl" style="color: #1d3e77;"></i>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="http://localhost:4200/home">
          Home
        </a>

        <a class="navbar-item">
          Über uns
        </a>

        <a class="navbar-item">
          Standorte
        </a>
        <a  *ngIf="currentUser" class="navbar-item" href="">
          Lesewunschliste
        </a>
        <a  *ngIf="currentUser" class="navbar-item" href="http://localhost:4200/readingwishlist">
          Verwalte deine Lesewunschliste
        </a>
        </div>

      <div class="navbar-end">
          <div class="buttons">
            <a *ngIf="currentUser === null" class=" nav navbar-item" href="http://localhost:4200/log">
              <a class="sign">Einloggen</a>
            </a>
            <a *ngIf="currentUser" class=" nav navbar-item" href="http://localhost:4200/logout" (click) = 'logout()'>
              <a class="sign">Logout</a>
            </a>
          </div>
        </div>
      </div>
  </nav>
  </div>
</div>

