.search-div{
  text-align: center;
}

.search-text{
  font-size: 1.2rem;
}

#search-bar{
  border-radius: 17px;
  border: solid 2px #0505A9;
  margin-left: 5px;
  cursor: text;
  padding: 5px 10px;
  font-family: 'Work Sans', sans-serif;
}

#search-bar:focus{
  outline: none;
}
