.aboutus-div{
  padding-left: 30px;
  padding-right: 20px;
  color:#1d3e77;
}

h4{
  margin-bottom: 20px;
}

@media (  min-width: 500px ) {
  .div-with-img{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  img{
    max-width: 300px;
  }
}
