<div class="aboutus-div">
<h1>Willkommen bei <span style="font-weight: bold; color:#0505A9">DreamTeam Solutions</span>, Ihrem Partner für innovative Webanwendungen.</h1>
<br>
<p>Unsere Geschichte begann vor mehr als einem Jahrzehnt mit der Vision,
  das digitale Erlebnis für Bibliotheken zu transformieren. Mit einem klaren Fokus
  auf Bücherhallen haben wir uns darauf spezialisiert, maßgeschneiderte Webanwendungen zu entwickeln,
  die das Bibliothekswesen in die digitale Ära führen.</p>
<br>

<h4><span style="font-weight: bold; color:#0505A9">Unsere Mission</span></h4>
  <div class="div-with-img">
<img src="assets/mission.jpg" alt=" Unsere Mission">
<p>Unsere Mission ist es, Bibliotheken dabei zu unterstützen, ihre Ressourcen effizienter zu verwalten
  und gleichzeitig den Zugang zu Wissen für jeden zu verbessern. Wir glauben an die transformative Kraft
  von Technologie und engagieren uns leidenschaftlich dafür, Lösungen zu schaffen, die die Herausforderungen
  unserer Zeit adressieren.</p>
<br>
  </div>
<h4><span style="font-weight: bold; color:#0505A9">Was Uns Auszeichnet</span></h4>

 <h6> <span style="font-weight: 500; color:#0505A9">Branchenfokus:</span> </h6>
  <div class="div-with-img">
<img src="assets/branchenfocus.jpg" alt="Branchenfokus">
<p> Unser Engagement für Bücherhallen spiegelt sich in allem wider, was wir tun.
  Wir verstehen die einzigartigen Anforderungen und Möglichkeiten dieses Bereichs und entwickeln
  Lösungen, die darauf zugeschnitten sind.</p>
    </div>
<br>
<h6> <span style="font-weight: 500; color:#0505A9">Innovation:</span></h6>
  <div class="div-with-img">
<img src="assets/innovation.jpg" alt="Innovation">
<p>Wir setzen auf die neuesten Technologien, um fortschrittliche und nutzerfreundliche Webanwendungen
  zu entwickeln. Unsere Produkte sind darauf ausgerichtet, die Effizienz zu steigern und ein nahtloses
  Nutzererlebnis zu bieten.</p>
    </div>
<br>

<h6> <span style="font-weight: 500; color:#0505A9">Kundenzentriertheit:</span> </h6>
  <div class="div-with-img">
<img src="assets/kunden.jpg" alt="Kundenzentriertheit">
<p>Unsere Kunden stehen im Mittelpunkt unserer Arbeit. Wir arbeiten eng mit Bibliotheken zusammen,
  um ihre Bedürfnisse zu verstehen und Lösungen zu liefern, die einen echten Mehrwert bieten.</p>
  </div>
<br>

<h4><span style="font-weight: bold; color:#0505A9">Unser Team</span></h4>
  <div class="div-with-img">
<img src="assets/team.jpg" alt="unser Team">
<p>Unsere talentierten Entwickler, Designer und Experten bilden ein engagiertes Team,
  das von der Leidenschaft für Technologie und dem Streben nach Exzellenz angetrieben wird.
  Gemeinsam arbeiten wir daran, innovative Lösungen zu schaffen, die einen positiven Einfluss
  auf die Welt der Bücherhallen haben.</p>
    </div>
<br>
<p>Vielen Dank, dass Sie  <span style="font-weight: bold; color:#0505A9">DreamTeam Solutions</span> auf Ihrer Reise begleiten.
  Wir freuen uns darauf, gemeinsam mit Ihnen die Zukunft des Bibliothekswesens zu gestalten.</p>
</div>
