.book-row {
  padding: 0 20% 0 20% !important;
}

.cover{
  z-index: 2;
}

h1 {
  font-size: 2.2rem;
  font-family: 'Work Sans', sans-serif;
  color: hsl(240, 100%, 20%);
}

p{
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  color: hsl(240, 100%, 20%);
}

.regal-image{
  position: relative;
  width: 120% !important;
  margin-top: -25px;
  z-index: 1;
}

