h3, h4{
  font-family: 'Work Sans', sans-serif;
  margin-top: 10px;
  color: #1d3e77;
}

.book-row {
  padding: 0 12% 0 12% !important;
  z-index: 2;
  margin-left: 8px;
}

.book{
  z-index: 2;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  backface-visibility: visible;
  box-sizing: inherit;
  height: 100%;
}

.book img {
  height: auto;
  width: 100%;
}

.front, .back {
  background-size: cover;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 {
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}

h1 {
  font-size: 2.2rem;
  font-family: 'Work Sans', sans-serif;
  color: hsl(240, 100%, 20%);
  margin-top: -60px;
  margin-bottom: 10px;
  margin-left: 10px;
}

p{
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  color: hsl(240, 100%, 20%);
  margin-left: 10px;
}

.regal-image{
  position: relative;
  width: 120% !important;
  margin-top: -46px;
  z-index: 0;
}

.buttons {
  text-align: center;
  border-radius: 30px;
}

.animation {
  display: none;
}
.blob-btn {
  --numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #0505A9;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0505A9;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: calc(100% / var(--numOfBlobs));
  height: 100%;
  background: #0505A9;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

.blob-btn__blob:nth-child(1) {
  left: 0;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: calc((2 - 1) * (120% / var(--numOfBlobs)));
  transition-delay: calc((2 - 1) * 0.08s);
}

.blob-btn__blob:nth-child(3) {
  left: calc((3 - 1) * (120% / var(--numOfBlobs)));
  transition-delay: calc((3 - 1) * 0.08s);
}

.blob-btn__blob:nth-child(4) {
  left: calc((4 - 1) * (120% / var(--numOfBlobs)));
  transition-delay: calc((4 - 1) * 0.08s);
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

.blob-btn.left {
font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
}
.blob-btn.right {
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
}

.standort-text{
  font-weight: bold;
}
.buecherhalle{
  margin-top: 2px;
  color: #0505A9;
  border-color: #0505A9;
}
.buecherhalle:hover{
  border-color: #1d3e77;
  color: #1d3e77;
}


@supports(filter: url('#goo')) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

@media (min-width:320px)  {
  .text{
    font-size: 6px;
    margin-bottom: 2px;
  }
  .buecherhalle{
    font-size: 6px;
    padding:1px 1px;
  }
}

@media (min-width: 411px) {
.buttons{
  flex-wrap: nowrap;
}

  .blob-btn.left{
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (min-width:550px)
{
  .text{
  font-size: 10px;
    margin-bottom: 10px;
}
  .buecherhalle{
    font-size: 10px;
    padding:1px 1px;

  }
}
@media (min-width:641px)
{ .text{
  font-size: 14px;
  margin-bottom: 13px;

}
  .buecherhalle{
    font-size: 14px;
    padding:1px 1px;

  }
}
@media (min-width:961px)
{ .text{
  font-size: 20px;
  margin-bottom: 13px;
}
  .buecherhalle{
    font-size: 20px;
    padding:1px 1px;
  }
}
@media (min-width:1025px)
{ .text{
  font-size: 23px;
  margin-bottom: 15px;
}
  .buecherhalle{
    font-size: 23px;
    padding:1px 1px;
  }
}
@media (min-width:1281px)
{ .text{
  font-size: 28px;
  margin-bottom: 15px;
}
  .buecherhalle{
    font-size: 28px;
    padding:1px 1px;
  }
}

/*von Zeynep*/

.buttons-to-take-left{

}
/*
@media (min-width: 460px) and (max-width: 550px) {
  .blob-btn{
    text-align: center;
    background-color: #3f3f5a;
  }
}*/

.book{
  padding: 0 4px;
}

@media (max-width: 430px) {
  .try-class{
    min-width: 360px;
    margin-left: -15%;
    margin-right: 15%;
  }

  .text{
    font-size: 6px;
    margin-bottom: 2px;
  }
  .buecherhalle{
    font-size: 6px;
    padding:1px 1px;
  }
}

@media (min-width: 471px) {
  .blob-btn.right{
    padding-top: 20px;
    padding-bottom: 20px;
  }


}

@media (min-width: 511px) {
  .blob-btn {
    padding-right: 30px;
    padding-left: 30px;
  }
}

  @media (min-width: 900px){
    .blob-btn{
      padding-right: 40px;
      padding-left: 40px;
    }
}
/*von Zeynep*/
