@import "../node_modules/bulma/bulma.sass";
body {
  font-weight: 300;
  color: black;
  font-family: 'Montserrat', sans-serif;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
